{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "dotenv-import",
      {
        "moduleName": "@env",
        "path": ".env",
        "allowUndefined": false
      }
    ]
  ]
}
